{% extends 'base.html' %} {% block content %}

<div class="container">
	{% if current_user.role == 'admin' %}
	<h3>Список всех блюд</h3>
	{% else %}
	<h3>Список ваших блюд</h3>

	<form method="POST" enctype="multipart/form-data" class="p-3 border rounded">
		<div class="row mb-3">
			<div class="col-md-3">
				<input
					type="text"
					class="form-control"
					id="name"
					name="name"
					placeholder="Название"
					required
				/>
			</div>
			<div class="col-md-3">
				<input
					type="number"
					class="form-control"
					id="price"
					name="price"
					placeholder="Цена"
					required
				/>
			</div>
			<div class="col-md-6">
				<textarea
					class="form-control"
					id="description"
					name="description"
					placeholder="Описание"
				></textarea>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-6">
				<input
					type="file"
					class="form-control"
					id="img"
					name="img"
					accept="image/*"
					multiple
				/>
			</div>
			<div class="col-md-6">
				<textarea
					class="form-control"
					id="ingredients"
					name="ingredients"
					placeholder="Ингредиенты"
				></textarea>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-3 form-check">
				<div class="form-check form-switch">
					<input
						class="form-check-input"
						type="checkbox"
						role="switch"
						id="alcohol"
						name="alcohol"
					/>
					<label class="form-check-label" for="alcohol">Алкоголь</label>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row mb-3">
					<div class="col-md-8">
						<div class="form-check form-switch">
							<input
								class="form-check-input"
								type="checkbox"
								role="switch"
								id="default address"
								name="default address"
								checked
							/>
							<label class="form-check-label" for="default address"
								>По умолчанию</label
							>
						</div>
						<input
							type="text"
							class="form-control"
							id="address"
							name="address"
							placeholder="Место приготовления"
						/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<label for="time" class="form-label">Время приготовления</label>
				<input
					type="time"
					class="form-control"
					id="time"
					name="time"
					placeholder="Время приготовления"
				/>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<button type="submit" class="btn btn-primary w-100">Добавить</button>
			</div>
		</div>
	</form>

	{% endif %}

	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Блюда</th>
				<th>Заказы</th>
				<th>Отзывы</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Количество</th>
				<th>{{ dishes | length }}</th>
				<th></th>
				<th></th>
			</tr>
		</tbody>
	</table>

	{% if current_user.role == 'chef' %}
	<div class="container text-center">
		<div class="row row-cols-4">
			{% for dish in dishes %}
			<div class="col">
				<div
					class="card"
					style="cursor: pointer"
					onclick="location.href='{{ url_for('detail_dish', id_dish=dish[0]) }}';"
				>
					<div class="card-body">
						{% if dish[11] is not none %} {% set img_paths = dish[11].split(',')
						%}
						<div id="carouselExample{{ loop.index }}" class="carousel slide">
							<!-- Carousel inner with images -->
							<div class="carousel-inner">
								{% for img_path in img_paths %} {% if img_path.strip() %}
								<div class="carousel-item {% if loop.first %}active{% endif %}">
									<img
										src="/static/img/{{ img_path.strip() }}"
										class="d-block w-100"
										style="height: 200px; object-fit: cover"
										alt="{{ img_path.strip() }}"
									/>
								</div>
								{% endif %} {% endfor %}
							</div>
							{% if img_paths|length > 1 %}
							<!-- Carousel controls (previous/next) -->
							<button
								class="carousel-control-prev"
								type="button"
								data-bs-target="#carouselExample{{ loop.index }}"
								data-bs-slide="prev"
							>
								<span
									class="carousel-control-prev-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button
								class="carousel-control-next"
								type="button"
								data-bs-target="#carouselExample{{ loop.index }}"
								data-bs-slide="next"
							>
								<span
									class="carousel-control-next-icon"
									aria-hidden="true"
								></span>
								<span class="visually-hidden">Next</span>
							</button>
							{% endif %}
						</div>
						{% endif %}

						<h2 class="card-title">{{ dish[2] }}</h2>
						<div class="container text-center">
							<div class="d-grid gap-2 d-md-block">
								<a> ≈{{ format_time(dish[9]) }} </a>
								<a> {{ dish[3] }} ₽</a>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a>
									★{{ dish[5] if dish[5] is not none else 'Оценки пока нет' }}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %} {% if current_user.role == 'admin' %}
	<table
		class="table table-bordered text-center table-hover align-middle"
		style="width: 100%; table-layout: fixed; word-wrap: break-word"
	>
		<thead class="table">
			<tr>
				<th style="width: 15%">Название</th>
				<th style="width: 6%">Цена (₽)</th>
				<th style="width: 10%">Описание</th>
				<th style="width: 12%">Изображение</th>
				<th style="width: 10%">Средняя оценка</th>
				<th style="width: 12%">Ингредиенты</th>
				<th style="width: 10%">Алкоголь</th>
				<th style="width: 10%">Адрес</th>
				<th style="width: 6%">Время</th>
				<th style="width: 5%"></th>
			</tr>
		</thead>
		<tbody>
			{% for dish in dishes %}
			<tr>
				<td>
					<form
						method="GET"
						action="{{ url_for('detail_dish', id_dish=dish[0]) }}"
					>
						<button type="submit" class="btn btn-outline-primary w-100">
							{{ dish[2][:15]}}...
						</button>
					</form>
				</td>
				<td>{{ dish[3] }}</td>
				<!-- Описание -->
				<td>
					<span
						class="text-truncate d-inline-block"
						style="max-width: 150px; cursor: pointer"
						data-bs-toggle="modal"
						data-bs-target="#descriptionModal{{ dish[0] }}"
					>
						{{ dish[4][:12] }}...
					</span>
					<!-- Модальное окно для Описания -->
					<div
						class="modal fade"
						id="descriptionModal{{ dish[0] }}"
						tabindex="-1"
						aria-labelledby="descriptionModalLabel{{ dish[0] }}"
						aria-hidden="true"
					>
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5
										class="modal-title"
										id="descriptionModalLabel{{ dish[0] }}"
									>
										Описание
									</h5>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Закрыть"
									></button>
								</div>
								<div class="modal-body">{{ dish[4] }}</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					{% if dish[11] is not none %} {% set img_paths = dish[11].split(',')
					%}
					<div id="carouselExample{{ loop.index }}" class="carousel slide">
						<!-- Carousel inner with images -->
						<div class="carousel-inner">
							{% for img_path in img_paths %} {% if img_path.strip() %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img
									src="/static/img/{{ img_path.strip() }}"
									class="d-block w-100"
									style="object-fit: cover"
									alt="{{ img_path.strip() }}"
								/>
							</div>
							{% endif %} {% endfor %}
						</div>
						{% if img_paths|length > 1 %}
						<!-- Carousel controls (previous/next) -->
						<button
							class="carousel-control-prev"
							type="button"
							data-bs-target="#carouselExample{{ loop.index }}"
							data-bs-slide="prev"
						>
							<span
								class="carousel-control-prev-icon"
								aria-hidden="true"
							></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button
							class="carousel-control-next"
							type="button"
							data-bs-target="#carouselExample{{ loop.index }}"
							data-bs-slide="next"
						>
							<span
								class="carousel-control-next-icon"
								aria-hidden="true"
							></span>
							<span class="visually-hidden">Next</span>
						</button>
						{% endif %}
					</div>
					{% endif %}
				</td>
				<td>{{ 'отсутствует' if dish[5] == None else dish[5] }}</td>
				<!-- Ингредиенты -->
				<td>
					<span
						class="text-truncate d-inline-block"
						style="max-width: 150px; cursor: pointer"
						data-bs-toggle="modal"
						data-bs-target="#ingredientsModal{{ dish[0] }}"
					>
						{{ dish[6][:12] }}...
					</span>
					<!-- Модальное окно для Ингредиентов -->
					<div
						class="modal fade"
						id="ingredientsModal{{ dish[0] }}"
						tabindex="-1"
						aria-labelledby="ingredientsModalLabel{{ dish[0] }}"
						aria-hidden="true"
					>
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5
										class="modal-title"
										id="ingredientsModalLabel{{ dish[0] }}"
									>
										Ингредиенты
									</h5>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Закрыть"
									></button>
								</div>
								<div class="modal-body">{{ dish[6] }}</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<span
						class="badge {{ 'bg-danger' if dish[7] == 1 else 'bg-success' }}"
					>
						{{ 'Присутствует' if dish[7] == 1 else 'Отсутствует' }}
					</span>
				</td>
				<!-- Адрес -->
				<td>
					<span
						class="text-truncate d-inline-block"
						style="max-width: 150px; cursor: pointer"
						data-bs-toggle="modal"
						data-bs-target="#addressModal{{ dish[0] }}"
					>
						{{ dish[8][:12] }}...
					</span>
					<!-- Модальное окно для Адреса -->
					<div
						class="modal fade"
						id="addressModal{{ dish[0] }}"
						tabindex="-1"
						aria-labelledby="addressModalLabel{{ dish[0] }}"
						aria-hidden="true"
					>
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="addressModalLabel{{ dish[0] }}">
										Адрес
									</h5>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Закрыть"
									></button>
								</div>
								<div class="modal-body">{{ dish[8] }}</div>
							</div>
						</div>
					</div>
				</td>
				<td>{{ dish[9] }}</td>
				<td>
					<button
						type="button"
						class="btn btn-danger"
						data-bs-toggle="modal"
						data-bs-target="#exampleModal{{ dish[0] }}"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-trash-fill"
							viewBox="0 0 16 16"
						>
							<path
								d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
							/>
						</svg>
					</button>
					<!-- Unique Modal -->
					<div
						class="modal fade"
						id="exampleModal{{ dish[0] }}"
						tabindex="-1"
						aria-labelledby="exampleModalLabel{{ dish[0] }}"
						aria-hidden="true"
					>
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1
										class="modal-title fs-5"
										id="exampleModalLabel{{ dish[0] }}"
									>
										Подтверждение удаления
									</h1>
									<button
										type="button"
										class="btn-close"
										data-bs-dismiss="modal"
										aria-label="Close"
									></button>
								</div>
								<div class="modal-body">
									Вы уверены, что хотите удалить это блюдо?
								</div>
								<div class="modal-footer">
									<button
										type="button"
										class="btn btn-secondary"
										data-bs-dismiss="modal"
									>
										Отмена
									</button>

									<form
										method="POST"
										action="{{ url_for('delete_dish', id_dish=dish[0]) }}"
									>
										<button type="submit" class="btn btn-danger">
											Подтвердить
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
{% endblock %}
